.env

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## IntelliJ
##############################
out/
.idea/
.idea
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## OS X
##############################
.DS_Store

